<!-- <div class="modal" id="studentModal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="portal-logo">New Student</h1>
    <%= form_with model: @student, local: true do |f| %>
      <div class="input-group">
        <label for="username">Name</label>
        <%= f.text_field :name, autofocus: true, required: true, id: "name" %>
        <span class="icon">👤</span>
      </div>

      <div class="input-group">
        <label for="subject">Subject</label>
        <%= f.text_field :subject, required: true, id: "subject" %>
      </div>

      <div class="input-group">
        <label for="marks">Marks</label>
        <%= f.text_field :marks, required: true, id: "marks" %>
      </div>

      <%= f.submit "Create Student", class: "login-btn" %>
    <% end %>
  </div>
</div> -->
